In [2]:
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
df = pd.read_csv('/content/drive/MyDrive/PTDataScience/PandasForDataManipulation/athleteEventsNoPersonal.csv')
df.head(82)

     ID   Age  Height  ...          Sport                               Event Medal
0     5  21.0   185.0  ...  Speed Skating    Speed Skating Women's 500 metres   NaN
1     5  21.0   185.0  ...  Speed Skating  Speed Skating Women's 1,000 metres   NaN
2     5  25.0   185.0  ...  Speed Skating    Speed Skating Women's 500 metres   NaN
3     5  25.0   185.0  ...  Speed Skating  Speed Skating Women's 1,000 metres   NaN
4     5  27.0   185.0  ...  Speed Skating    Speed Skating Women's 500 metres   NaN
..  ...   ...     ...  ...            ...                                 ...   ...
77  207  21.0     NaN  ...        Fencing     Fencing Men's Sabre, Individual   NaN
78  207  33.0     NaN  ...        Fencing      Fencing Men's epee, Individual   NaN
79  207  33.0     NaN  ...        Fencing            Fencing Men's epee, Team   NaN
80  207  37.0     NaN  ...        Fencing      Fencing Men's epee, Individual   NaN
81  207  37.0     NaN  ...        Fencing            Fencing Men's epee, Team   NaN

[82 rows x 12 columns]

In [5]:
df.loc[:, 'Height'].value_counts()

180.0    1946
170.0    1735
178.0    1545
175.0    1493
168.0    1284
         ...
214.0       2
219.0       1
212.0       1
220.0       1
221.0       1
Name: Height, Length: 81, dtype: int64

In [6]:
df.loc[:, 'Height'].mean()

175.3811165585956

In [7]:
HeightFilter = df.loc[:, 'Height'] == 1

In [8]:
df.loc[HeightFilter, :].head(7)

Empty DataFrame
Columns: [ID, Age, Height, Team, NOC, Games, Year, Season, City, Sport, Event, Medal]
Index: []

In [ ]:
df.loc[HeightFilter, 'ID'].value_counts(dropna = False)

Series([], Name: ID, dtype: int64)

In [9]:
df.groupby(['ID', 'Year'])['Height'].mean()

ID      Year
5       1988    185.0
        1992    185.0
        1994    185.0
6       1992    188.0
        1994    188.0
                ...
135567  2000    183.0
        2004    183.0
135570  2014    176.0
135571  1998    185.0
        2002    185.0
Name: Height, Length: 28189, dtype: float64