In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [ ]:
filename = '/content/drive/MyDrive/PTDataScience/PandasForDataManipulation/WorldWealth.xlsx'
R_df = pd.read_excel(filename)
R_df.head(21)

                    Country         Region Wealth ($B)
0             United States  North America    $105,990
1                     China          China     $63,827
2                     Japan   Asia-Pacific     $24,992
3                   Germany         Europe     $14,660
4            United Kingdom         Europe     $14,341
5                    France         Europe     $13,729
6                     India          India     $12,614
7                     Italy         Europe     $11,358
8                    Canada  North America      $8,573
9                     Spain         Europe      $7,772
10                    Korea   Asia-Pacific      $7,302
11                Australia   Asia-Pacific      $7,202
12  Taiwan (Chinese Taipei)   Asia-Pacific      $4,062
13              Switzerland         Europe      $3,877
14              Netherlands         Europe      $3,719
15                   Brazil  Latin America      $3,535
16            Hong Kong SAR   Asia-Pacific      $3,066
17                   Russia         Europe      $3,052
18                   Mexico  Latin America      $2,701
19                  Belgium         Europe      $2,194
20                   Sweden         Europe      $2,049

In [ ]:
R_df = R_df.rename(columns={'Wealth ($B)': 'Wealth'})
R_df.head(21)

                    Country         Region    Wealth
0             United States  North America  $105,990
1                     China          China   $63,827
2                     Japan   Asia-Pacific   $24,992
3                   Germany         Europe   $14,660
4            United Kingdom         Europe   $14,341
5                    France         Europe   $13,729
6                     India          India   $12,614
7                     Italy         Europe   $11,358
8                    Canada  North America    $8,573
9                     Spain         Europe    $7,772
10                    Korea   Asia-Pacific    $7,302
11                Australia   Asia-Pacific    $7,202
12  Taiwan (Chinese Taipei)   Asia-Pacific    $4,062
13              Switzerland         Europe    $3,877
14              Netherlands         Europe    $3,719
15                   Brazil  Latin America    $3,535
16            Hong Kong SAR   Asia-Pacific    $3,066
17                   Russia         Europe    $3,052
18                   Mexico  Latin America    $2,701
19                  Belgium         Europe    $2,194
20                   Sweden         Europe    $2,049

In [ ]:
mask1 = (R_df['Region'] == 'North America')
R_df[mask1].head(3)

           Country         Region    Wealth
0    United States  North America  $105,990
8           Canada  North America    $8,573
132        Bermuda  North America       $23

In [ ]:
Region_grp = R_df.groupby(['Region'])

In [ ]:
Region_grp.get_group('North America').sum()

Country                  United StatesCanadaBermudaGreenland
Region     North AmericaNorth AmericaNorth AmericaNorth A...
Wealth                                  $105,990$8,573$23$21
dtype: object

In [ ]:
mask2 = (R_df['Region'] == 'Latin America')
R_df[mask2].head(10)

               Country         Region  Wealth
15              Brazil  Latin America  $3,535
18              Mexico  Latin America  $2,701
42               Chile  Latin America    $759
46            Colombia  Latin America    $562
51                Peru  Latin America    $377
56           Argentina  Latin America    $311
66             Ecuador  Latin America    $205
68                Cuba  Latin America    $198
75  Dominican Republic  Latin America    $149
77         Puerto Rico  Latin America    $145

In [ ]:
mask3 = (R_df['Region'] == 'Europe')
R_df[mask3].head(3)

          Country  Region   Wealth
3         Germany  Europe  $14,660
4  United Kingdom  Europe  $14,341
5          France  Europe  $13,729

In [ ]:
RegionFilter = R_df['Region'] == 'North America'
RegionFilter1 = R_df['Region'] == 'Latin America'
RegionFilter2 = R_df['Region'] == 'Europe'

In [ ]:
RegionNA = R_df.loc[RegionFilter]
RegionLA = R_df.loc[RegionFilter1]
RegionEE = R_df.loc[RegionFilter2]

In [ ]:
RegionNA['Wealth'].sum()

'$105,990$8,573$23$21'

In [ ]:
RegionEE['Wealth'].sum()

'$14,660$14,341$13,729$11,358$7,772$3,877$3,719$3,052$2,194$2,049$1,950$1,771$1,271$1,098$1,096$951$867$795$668$550$346$308$287$243$209$205$170$165$123$115$107$95$93$81$70$50$42$41$36$26$17$16$10$9$8$7'

In [ ]:
#Its missing some things right now, comeback later
axes.plot(RegionNA['Wealth'].sum(), c = 'k', label = 'North America');
axes.plot(RegionEE['Wealth'].sum(), c = 'b', label = 'Europe');
axes.set_xlabel('Regions', fontsize = 16);
axes.set_ylabel('Dollars', fontsize = 16);
axes.set_title('WEALTH', fontsize = 16);
plt.xticks(fontsize = 15);
plt.yticks(fontsize = 15);

NameError: ignored